@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #05E8BA, #087EE1);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; /* for Firefox */
    color: transparent;
    -webkit-text-fill-color: transparent; /* for Safari and Chrome */
  }
}
